<html>
<head>
<title>Fare Calculator</title>
<style>
    
body
{
    background-color:black;
    background-image:url(/images/final.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#fare
{
    margin-left: 22%;
    margin-top: 8%;
}
</style>
</head>
<body>
    <div id = "fare">
    <form method = "post">
        <h2>Source</h2><input type = 'text' name = "addr1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2>Destination</h2><input type = 'text' name = "addr2">
        <br><br>
        <input type = "submit" value = "Calculate Fare">
    </form>
    </div>    
</body>
</html>