<html>
    <head>
        <title>Wikipedia</title>
        <style>
            #wiki
            {
                margin-left: 50px;
                margin-top: 50px;
            }
            
            #edit
            {
                margin-left:80%;
                margin-top: -100px;
            }
        </style>
    </head>
    <body>
        <div id = "wiki">
            <h1>Welcome to the Wiki page</h1>
        </div>    
        
        <div id = "edit">
            <a href = "/edit"><p>edit</p></a>
        </div>
    </body>
</html>